.back {
    display: block;
    border: none;
    background: none;
}
.new-feedback-buttons {
    display: flex;
    align-items: center;
    margin-left: 0;
    justify-content: space-between;
}
.new-feedback-delete-btn {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    padding: 12px 24px;
    border: none;
    color: #F2F4FE;
    background: #D73737;
    border-radius: 10px;
} 
.feedback-content {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    width: 405px;
    height: 150px;
    padding: 16px 24px 42px 24px;
    margin-bottom: 16px;
    border-radius: 5px;
    border: 2px solid darkgray;
    resize: none;
    outline: none;
    color: #8C92B3;
    background: #F7F8FD;
}